<form [formGroup]="subIssuerForm" (ngSubmit)="updateSubIssuerData()">

  <div class="container-fluid">
    <div class="row bg-grey">
      <div class="col text-center">
      </div>
    </div>

    <div class="row">

      <div class="col-md-4"></div>
      <div class="col-md-4 text-center">
        <div class="form-group">
          <label for="acsId">AcsId</label>
          <input type="text" ngModel="{{subIssuer?.acsId}}" id="acsId"  formControlName="acsId" class="form-control">

        </div>

        <div class="form-group">
          <label for="authenticationTimeOut">AuthenticationTimeOut</label>
          <input type="number" ngModel="{{subIssuer?.authenticationTimeOut}}"  id="authenticationTimeOut" formControlName="authenticationTimeOut" class="form-control  ">
        </div>

        <div class="form-group">
          <label for="defaultLanguage">DefaultLanguage</label>
          <input type="text" ngModel="{{subIssuer?.defaultLanguage}}" id="defaultLanguage" formControlName="defaultLanguage" class="form-control">
        </div>

        <div class="form-group">
          <label for="code">Code</label>
          <input type="text" ngModel="{{subIssuer?.code}}" id="code" formControlName="code" class="form-control">
        </div>
        <div class="form-group">
          <label for="codeSvi">CodeSvi</label>
          <input type="text" ngModel="{{subIssuer?.codeSvi}}" id="codeSvi" formControlName="codeSvi" class="form-control">
        </div>

        <div class="form-group">
          <label for="currencyCode">CurrencyCode</label>
          <input type="text" ngModel="{{subIssuer?.currencyCode}}" id="currencyCode" formControlName="currencyCode" class="form-control">
        </div>


        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" ngModel="{{subIssuer?.name}}" id="name" formControlName="name" class="form-control">
        </div>


        <div class="form-group">
          <label for="label">Label</label>
          <input type="text" ngModel="{{subIssuer?.label}}" id="label" formControlName="label" class="form-control">
        </div>

        <div class="form-group">
          <label for="authentMeans">AuthentMeans</label>
          <input type="text" ngModel="{{subIssuer?.authentMeans}}" id="authentMeans" formControlName="authentMeans" class="form-control">
        </div>

        <div class="form-group">
          <div class="input-group mb-3" style="margin-top: 15px;">
            <div class="input-group-prepend">
              <input
                class="form-check-input"
                type="checkbox"
                formControlName="personnalDataStorage"
                ngModel="{{subIssuer?.personnalDataStorage}}"
                id="personnalDataStorage">
            </div>
            <label class="form-check-label" style="margin-left: 15px;"
                   for="personnalDataStorage">PersonalDataStorage</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="container">
    <div class="row text-center mt-2">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <button type="submit"

                class="btn btn-primary btn-block">Generate SQL Script
        </button>
        <!--  on 84 validator  [disabled]="!subIssuerForm.valid" -->
      </div>

      <div class="col-md-4"></div>
    </div>
  </div>

  <div class="row  text-center" style="margin-top: 25px;" *ngIf="filename">
    <div class="col">
      <button class="btn-outline-success" type="button" (click)="downloadFile()">Download - {{filename}}</button>
    </div>
  </div>


</form>





