<form [formGroup]="ruleForm" (ngSubmit)="deleteRule()">
  <div class="container-fluid">
    <div class="row bg-grey">
      <div class="col text-center">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
    </div>
    <div class="col-md-4"></div>
  </div>

  <section class="issuer_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <div class="wrapper">
                <form (click)="deleteRule()">
                  <div class="alert alert-danger" role="alert">
                    <span style="font-size: 36px;" class="material-icons">dangerous</span>
                    <hr>
                    <h4 class="alert-heading">Dangerous message</h4>
                    <p>This action can change your table structure. Please be aware.</p>
                    <hr>
                    <div class="form-group">
                      <button type="button" class="btn btn-outline-danger">Delete</button>
                    </div>

                  </div>
                </form>
                <div class="row " *ngIf="filename">
                  <div class="col">
                    <button class="btn btn-primary btn-block" type="button" (click)="downloadFile()">Download
                      - {{filename}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </section>


</form>

