<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="./assets/img/equensWorldline-RGB-White.png">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             style="color: white; font-weight: bold;"
             href="#" id="navbarDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            Issuers
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a routerLink="/" class="dropdown-item">Issuer</a></li>
            <li><a routerLink="/subissuer" class="dropdown-item" >Subissuer</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             style="color: white; font-weight: bold;"
             href="#" id="navbarDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            Profiles
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a routerLink="/profileset" class="dropdown-item">Profiles Set Search</a></li>
            <li><a routerLink="/profile" class="dropdown-item" >Profiles  Search</a></li>
          </ul>
        </li>
        <li><a routerLink="/crypto" class="nav-link" style="color: white; font-weight: bold;">Configuration crypto</a></li>
        <li><a routerLink="/authent" class="nav-link" style="color: white; font-weight: bold;">Authentmeans</a></li>
        <li><a routerLink="/image" class="nav-link" style="color: white; font-weight: bold;">Images</a></li>
        <li><a routerLink="/rule" class="nav-link" style="color: white; font-weight: bold;">Rules</a></li>
      </ul>
    </div>
  </div>
</nav>

