<section class="issuer_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="center-pill text-center">
              <h2 style="color: #337ab7">Insert Rule Query</h2>
            </div>
            <div class="wrapper">

              <form [formGroup]="ruleForm" (ngSubmit)="sendRuleData()">

                <fieldset>
                  <div class="row">
                    <div class="form-group col-md-offset-1 col-md-4">
                      <label for="name" data-translate="name" class="ng-scope">Name</label>
                      <input id="name" name="label" type="text" class="form-control input-sm" formControlName="name">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="createdBy" data-translate="createdBy" class="ng-scope">CreatedBy</label>
                      <input id="createdBy" name="createdBy" type="text" class="form-control input-sm"
                             formControlName="createdBy">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="description" data-translate="description" class="ng-scope">Description</label>
                      <input id="description" name="description" type="text" class="form-control input-sm"
                             formControlName="description">
                    </div>
                    <div class="form-group col-md-offset-1 col-md-4">
                      <label for="lastUpdateBy" data-translate="description" class="ng-scope">LastUpdateBy</label>
                      <input id="lastUpdateBy" name="lastUpdateBy" class="form-control input-sm" type="text"
                             formControlName="lastUpdateBy">
                    </div>
                    <div class="form-group col-md-4">
                      <label data-translate="updateState" class="ng-scope">UpdateState</label>
                      <select class="form-select" type="text" formControlName="updateState">
                        <option label="* - Select" value="" selected="selected">* - Select</option>
                        <option value="0">PUSHED_TO_CONFIG</option>
                        <option value="1">WAITING_FOR_PUSH</option>
                        <option value="2">WAITING_VALIDATION</option>
                      </select>
                    </div>
                    <div class="form-group col-md-4">
                      <label data-translate="profile" class="ng-scope">Profile</label>
                      <select id="transaction-profile-id"
                              class="form-select" title="Choose an profile code" formControlName="profile_id"
                              name="profile_id" style="">
                        <option label="* - Select" value="" selected="selected">* - Select</option>
                        <option *ngFor="let profile of profiles;" value="{{ profile.id }}">{{ profile.name }}</option>
                      </select>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="orderRule" data-translate="orderRule" class="ng-scope">OrderRule</label>
                      <input id="orderRule" name="orderRule" type="number" class="form-control input-sm"
                             formControlName="orderRule">
                    </div>
                  </div>
                  <div class="form-group text-center">
                    <button type="submit" [disabled]="!ruleForm.valid" class="btn btn-primary btn-block">Generate SQL
                    </button>
                    <div class="row  text-center" *ngIf="filename">
                      <div class="col"><br>
                        <button class="btn btn-primary btn-block" type="button" (click)="downloadFile()">Download
                          - {{filename}}</button>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="center-pill text-center"
             style="border: 1px solid white; background-color: white ; padding-top: 10px; padding-bottom: 10px">
          <h2 style="color: #337ab7">Rules List</h2>
        </div>
        <div class="card-body">
          <div>
            <table class="table text-center table-bordered">
              <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">UpdateState</th>
                <th scope="col">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let rule of rules;" class="wrapper">
                <td>{{ rule.name }}</td>
                <td>{{ rule.description }}</td>
                <td>{{ rule.updateState }}</td>
                <div class="form-group">
                  <a routerLink="/rule/edit/{{ rule.id }}" class="btn btn-outline-primary" style="border: none;"><i
                    style="font-size: 2rem; " class="fa fa-pencil-square-o"></i></a>
                  <a routerLink="/rule/delete/{{ rule.id }}/{{ rule.profile['id'] }}" class="btn btn-outline-danger"
                     style="border: none;"><i style="font-size: 2rem; " class="fa fa-trash-o"></i></a>
                </div>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
