<form [formGroup]="subIssuerForm" (ngSubmit)="sendSubIssuerData()">
  <div class="container-fluid">
    <div class="row bg-grey">
      <div class="col text-center">
        Insert SubIssuer Data
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="code">Code</label>
          <input type="text" id="code" formControlName="code" class="form-control">
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" formControlName="name" class="form-control">
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="createdBy">Created By</label>
          <input type="text" id="createdBy" authentMeans="authentMeans" class="form-control">
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <button type="submit" [disabled]="!subIssuerForm.valid" class="btn btn-primary btn-block">Generate SQL Script</button>
      </div>
    </div>
    <div class="row mt-2" *ngIf="filename">
      <div class="col">
        <button type="button" (click)="downloadFile()">Download - {{filename}}</button>
      </div>
    </div>
  </div>
</form>

<!--
<hr>
List of SubIssuer
<hr>
<div *ngFor="let subIssuer of subIssuers">
  <div>{{subIssuer.id}} --- {{subIssuer.name}}</div>
</div>

-->



<!--
<p>subIssuer works!</p>
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form (click)="add(subIssuer)">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="subIssuer.name"  placeholder="Enter name">
        </div>
        <div class="form-group">
          <label for="code">Code</label>
          <input type="text" class="form-control" id="code" name="code" [(ngModel)]="subIssuer.code" placeholder="Enter code">
        </div>
        <div class="form-group">
          <label for="authentMeans">AuthentMeans</label>
          <input type="text" class="form-control" id="authentMeans"  name="authentMeans" [(ngModel)]="subIssuer.authentMeans" placeholder="authentMeans">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
<hr>
List of SubIssuer
<hr>
<div *ngFor="let subIssuer of subIssuers">
  <div>{{subIssuer.id}} --- {{subIssuer.name}}</div>
</div>

-->
