<form [formGroup]="subIssuerForm" (ngSubmit)="sendSubIssuerData()">

  <div class="container-fluid">
    <div class="row bg-grey">
      <div class="col text-center">
      </div>
    </div>

    <div class="row">

      <div class="col-md-4"></div>
      <div class="col-md-4 text-center">

        <div class="form-group">
          <label for="acsId">AcsId</label>
          <input type="text" id="acsId" formControlName="acsId" class="form-control">
        </div>

        <div class="form-group">
          <label for="authenticationTimeOut">AuthenticationTimeOut</label>
          <input type="number" id="authenticationTimeOut" formControlName="authenticationTimeOut" class="form-control">
        </div>

        <div class="form-group">
          <label for="defaultLanguage">DefaultLanguage</label>
          <input type="text" id="defaultLanguage" formControlName="defaultLanguage" class="form-control" >
        </div>

        <div class="form-group">
          <label for="code">Code</label>
          <input type="number" id="code" formControlName="code" class="form-control">
        </div>

        <div class="form-group">
          <label for="codeSvi">CodeSvi</label>
          <input type="text" id="codeSvi" formControlName="codeSvi" class="form-control">
        </div>

        <div class="form-group">
          <label for="currencyCode">CurrencyCode</label>
          <input type="text" id="currencyCode" formControlName="currencyCode" class="form-control">
        </div>



        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" formControlName="name" class="form-control">
        </div>

        <div class="form-group">
          <label for="label">Label</label>
          <input type="text" id="label" formControlName="label" class="form-control">
        </div>

        <div class="form-group">
          <label for="authentMeans">AuthentMeans</label>
          <input type="text" id="authentMeans" formControlName="authentMeans" class="form-control">
        </div>

        <div class="form-group">
          <div class="input-group mb-3" style="margin-top: 15px;">
            <div class="input-group-prepend">

              <input
                class="form-check-input"
                type="checkbox"
                formControlName="personnalDataStorage"
                id="personnalDataStorage">

            </div>
            <label class="form-check-label" style="margin-left: 15px;"
                   for="personnalDataStorage">PersonalDataStorage</label>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group mb-3" style="margin-top: 15px;">
            <div class="input-group-prepend">

              <input
                class="form-check-input"
                type="checkbox"
                formControlName="resetBackupsIfSuccess"
                id="resetBackupsIfSuccess">

            </div>
            <label class="form-check-label" style="margin-left: 15px;"
                   for="resetBackupsIfSuccess">ResetBackupsIfSuccess</label>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group mb-3" style="margin-top: 15px;">
            <div class="input-group-prepend">

              <input
                class="form-check-input"
                type="checkbox"
                formControlName="resetChoicesIfSuccess"
                id="resetChoicesIfSuccess">

            </div>
            <label class="form-check-label" style="margin-left: 15px;"
                   for="resetChoicesIfSuccess">ResetChoicesIfSuccess</label>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group mb-3" style="margin-top: 15px;">
            <div class="input-group-prepend">

              <input
                class="form-check-input"
                type="checkbox"
                formControlName="manageBackupsCombinedAmounts"
                id="manageBackupsCombinedAmounts">

            </div>
            <label class="form-check-label" style="margin-left: 15px;"
                   for="manageBackupsCombinedAmounts">ManageBackupsCombinedAmounts</label>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group mb-3" style="margin-top: 15px;">
            <div class="input-group-prepend">

              <input
                class="form-check-input"
                type="checkbox"
                formControlName="manageChoicesCombinedAmounts"
                id="manageChoicesCombinedAmounts">
            </div>
            <label class="form-check-label" style="margin-left: 15px;"
                   for="manageChoicesCombinedAmounts">ManageChoicesCombinedAmounts</label>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group mb-3" style="margin-top: 15px;">
            <div class="input-group-prepend">

              <input
                class="form-check-input"
                type="checkbox"
                formControlName="hubMaintenanceModeEnabled"
                id="hubMaintenanceModeEnabled">

            </div>
            <label class="form-check-label" style="margin-left: 15px;"
                   for="hubMaintenanceModeEnabled">HubMaintenanceModeEnabled</label>
          </div>
        </div>

      </div>

      <div class="col-md-4"></div>

    </div>
  </div>


  <div class="container">
    <div class="row text-center mt-2">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <button type="submit" [disabled]="!subIssuerForm.valid"
                class="btn btn-primary btn-block">Generate SQL Script
        </button>
      </div>

      <div class="col-md-4"></div>
    </div>
  </div>

  <div class="row  text-center" style="margin-top: 25px;" *ngIf="filename">
    <div class="col">
      <button class="btn-outline-success" type="button" (click)="downloadFile()">Download - {{filename}}</button>
    </div>
  </div>
</form>


<div class="container-fluid" style="margin-top: 150px;">
  <div class="row">
    <div class="col">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">Id</th>

          <th scope="col">AcsId</th>
          <th scope="col">
            Authentication
            Time
            Out
          </th>
          <th scope="col">
            Default
            Language
          </th>
          <th scope="col">Code</th>
          <th scope="col">CodeSvi</th>
          <th scope="col">CurrencyCode</th>
          <th scope="col">Name</th>
          <th scope="col">Label</th>
          <th scope="col">AuthentMeans</th>
          <th scope="col">
            Personal
            Data
            Storage
          </th>
          <th scope="col">
            Reset
            Backups
            If
            Success
          </th>
          <th scope="col">
            Reset
            Choices
            If
            Success
          </th>
          <th scope="col">
            Manage
            Backups
            Combined
            Amounts
          </th>
          <th scope="col">
            Manage
            Choices
            Combined
            Amounts
          </th>
          <th scope="col">
            Hub
            Maintenance
            Mode
            Enabled
          </th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let subIssuer of subIssuers;">
          <th scope="row">{{ subIssuer.id }}</th>
          <td>{{ subIssuer.acsId }}</td>
          <td>{{ subIssuer.authenticationTimeOut }}</td>
          <td>{{ subIssuer.defaultLanguage }}</td>
          <td>{{ subIssuer.code }}</td>
          <td>{{ subIssuer.codeSvi }}</td>
          <td>{{ subIssuer.currencyCode }}</td>
          <td>{{ subIssuer.name }}</td>
          <td>{{ subIssuer.label }}</td>
          <td>{{ subIssuer.authentMeans }}</td>
          <td>{{ subIssuer.personnalDataStorage }}</td>
          <td>{{ subIssuer.resetBackupsIfSuccess }}</td>
          <td>{{ subIssuer.resetChoicesIfSuccess }}</td>
          <td>{{ subIssuer.manageBackupsCombinedAmounts }}</td>
          <td>{{ subIssuer.manageChoicesCombinedAmounts }}</td>
          <td>{{ subIssuer.hubMaintenanceModeEnabled }}</td>
          <td>
            <a routerLink="/subissuer/{{ subIssuer.code }}/edit"
               class="btn btn-primary"> Update</a>
            <br>
            <br>
            <br>
            <a routerLink="/subissuer/{{ subIssuer.code }}/delete"
               class="btn btn-danger"> Delete</a>
          </td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


