<section class="profile-section">
  <div class="container">
    <div class="row">
      <div class="btn-group btn-breadcrumb">
        <a href="" class="btn btn-default"><span class="glyphicon glyphicon-home"></span></a>
        <a class="btn btn-default">Profiles search</a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="wrapper">
        <form action="">

        </form>
      </div>
    </div>
  </div>
</section>
<section class="profile-section">
  <div class="container-fluid">
    <div class="row">
      <div class="wrapper">
        <div class="dataTables_wrapper form-inline no-footer">
          <table class="table text-center table-bordered">
            <thead>
              <tr>
                <th>Issuer code</th>
                <th>SubIssuer code</th>
                <th>Profile name</th>
                <th>Authenticationmean</th>
                <th>Creation date</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let profile of profiles;">
                <td>
                  <span *ngIf="profile.subIssuer">{{ profile.subIssuer.issuer['code'] + '-' + profile.subIssuer.issuer['name'] }}</span>
                </td>
                <td>
                  <span *ngIf="profile.subIssuer">{{ profile.subIssuer['code'] + '-' + profile.subIssuer['name'] }}</span>
                </td>
                <td>{{ profile.name }}</td>
                <td>{{ profile.authentMeans['name'] }}</td>
                <td>{{ profile.creationDate | date:'MM/dd/yyyy'}}</td>
                <td class="d-flex">
                  <a routerLink="/profile/{{ profile.id }}/edit" class="btn btn-outline-primary">
                    <i style="font-size: 1.5rem;" class="fa fa-pencil-square-o"></i>
                  </a>
                  <a routerLink="/profile/{{ profile.id }}/delete" class="btn btn-outline-danger">
                    <i style="font-size: 1.5rem;" class="fa fa-trash-o"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
