.profile-section {
  padding: 25px 0;
}

.wrapper legend {
  color: #337ab7;
}

.wrapper {
  padding: 14px;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  overflow: auto;
}

.btn-breadcrumb .btn:first-child {
  padding: 6px 6px 6px 10px;
}

.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.btn-group>.btn {
  position: relative;
  float: left;
}


label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.form-group {
  margin-bottom: 20px;
}

.form-group>a {
  margin-left: 10px;
  margin-right: 10px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.dataTables_wrapper {
  position: relative;
  clear: both;
}

div.dt-buttons {
  position: relative;
  float: left;
}

div.dataTables_wrapper div.dataTables_filter label {
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
}

div.dataTables_wrapper div.dataTables_filter {
  text-align: right;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}


div.dataTables_wrapper div.dataTables_filter label {
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}


table.dataTable.no-footer {
  border-bottom: 1px solid #111;
}
table.dataTable {
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
  border-collapse: separate !important;
}
table.dataTable, table.dataTable th, table.dataTable td {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
table.dataTable {
  width: 100%;
  margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
}

table.dataTable {
  border-collapse: separate !important;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #f9f9f9;
}

div.dataTables_wrapper div.dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: right;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}